
<div class="card">
  <p-table [value]="listAll" [tableStyle]="{'min-width': '60rem'}">

      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Payload
            <!-- <p-button icon="pi pi-refresh"></p-button> -->
        </div>
      </ng-template>

      <ng-template pTemplate="header">
          <tr>
              <th>id</th>
              <th>Name</th>
              <th>Location</th>
              <th>Country</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-payload>
          <tr>
              <td>{{ payload._id }}</td>
              <td>{{ payload.name }}</td>
              <td>{{ payload.location }}</td>
              <td>{{ payload.country }}</td>
          </tr>
      </ng-template>
  </p-table>
</div>